@page "/"
@inject NavigationManager UriHelper;

<div class="container">
    <h1>Tic Tac Toe</h1>
    <h2>Select Game Mode!</h2>
    <div class="flex-column">
        <button class="btn btn-primary btn-grad mt-5" @onclick="@(e => UriHelper.NavigateTo("single-player/local"))">
            Single Player (local)
        </button>
        <button class="btn btn-primary btn-grad mt-4" @onclick="@(e => UriHelper.NavigateTo("single-player"))">
            Single Player (vs AI)
        </button>
        <button class="btn btn-primary btn-grad mt-4" @onclick="@(e => UriHelper.NavigateTo("multi-player"))">Multiplayer</button>
    </div>
</div>
